.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-canvas {
  height: 240px;
  width: 100%;
  min-width: 0;
}

.chart-canvas canvas {
  max-width: 100%;
}

@media (max-width: 900px) {
  .chart-canvas {
    height: 210px;
  }
}
