.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart-canvas {
  height: 260px;
  flex: 1;
  width: 100%;
  min-width: 0;
}

.chart-canvas canvas {
  max-width: 100%;
}

@media (max-width: 900px) {
  .chart-canvas {
    height: 230px;
  }
}
